@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

/* * {
  border: 1px dotted red;
} */

/* Global */
body {
  background-color: #161f27;
  color: white;
  font-family: JetBrains Mono;
  max-width: 1600px;
  margin: 0 auto;
}
.navContainer {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.navButton {
  height: 55px;
  width: 200px;
  font-size: 17px;
  font-weight: 400px;
  background-color: #24333f;
  color: white;
  border-radius: 15px;
  border: 2px solid #ffffff2c;
  transition: 0.3s;
}
.navButton:hover {
  background-color: #2b3d4c;
  border-radius: 10px;
  border: 2px solid #ffffff44;
}

.navButton > i {
  font-size: 20px;
  color: white;
  margin: 0 10px 0 0;
}

/* Index Styling */

.userAgentContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.initInfo {
  display: flex;
  justify-self: center;
}

.userAgentImgContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.browserContent,
.osContent {
  background-color: #24333f;
  width: 150px;
  padding: 50px;
  border-radius: 20px;
  border: 2px solid #ffffff2c;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.ipcontainer {
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
}

.ipwrapper {
  display: flex;
  background-color: #24333f;
  padding: 20px 10px;
  width: 35%;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #ffffff2c;
}

.boicon {
  width: 150px;
}

/* Monitor Styling */
.monitorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modelContainer {
  border-radius: 20px 20px 5px 5px;
  margin: 20px 0 0 0;
}

.skeleton::after {
  display: block;
  content: "";
  background: linear-gradient(0.95turn, #24333f, #2f4455);
  width: 500px;
  height: 50px;
  letter-spacing: -20px;
  border-radius: 15px;
  border: 2px solid #ffffff0a;
}

.monitorImageWrapper {
  border-radius: 5px;
}

.monitorTableWrapper {
  border-radius: 5px;
}

.rezcheck {
  border-radius: 5px 5px 20px 20px;
}

.modelContainer,
.monitorImageWrapper,
.monitorTableWrapper,
.rezcheck {
  background-color: #24333f;
  margin: 10px 0 0 0;
  padding: 20px;
  width: 50%;
  border: 2px solid #ffffff0a;
}

.monitorimg {
  border-radius: 15px;
  width: 100%;
  transition: opacity 0.2s ease-in-out;
  border: 2px solid #ffffff0a;
}

.selectionDropdown {
  color: #fff;
  background-color: #161f27;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}
option {
  background-color: #161f27;
}

option:hover {
  background-color: #24333f;
}

td {
  padding: 0 50px 0 0;
}
